going t# Flutter specific ignores
.flutter-plugins
.flutter-plugins-dependencies
.packages
.dart_tool/
build/

# IDE specific ignores
.idea/
.vscode/
*.iml
*.ipr

# Environment variables
.env

# Other
*.log
.fvm/
